<div class="container mt-5">
  <h3 class="text-center">Login</h3>

  <div class="card p-4 shadow-sm">
    <form>
      <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          placeholder="Digite seu email"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label for="senha">Senha:</label>
        <input
          type="password"
          id="senha"
          class="form-control"
          name="senha"
          placeholder="Digite sua senha"
          required
        />
      </div>

      <a href="/vitrine"><button type="button" class="btn btn-primary w-100">Entrar</button></a>
    </form>

    <div class="text-center mt-3">
      <a href="/cadastro" class="text-decoration-none">Não tem uma conta? Cadastre-se</a>
    </div>
  </div>
</div>